<footer class="mkdf-page-footer ">
  <div class="mkdf-footer-top-holder">
     <div class="mkdf-footer-top-inner mkdf-grid">
        <div class="mkdf-grid-row mkdf-footer-top-alignment-left">
           <div class="mkdf-column-content mkdf-grid-col-3">
              <div id="text-2" class="widget mkdf-footer-column-1 widget_text">
                 <div class="mkdf-widget-title-holder">
                    <h5 class="mkdf-widget-title">Our Story</h5>
                 </div>
                 <div class="textwidget">
                    <p>Donec sodales sagittis magna. Sed conse quat, leo eget bibendum sodales, augue velit cursus nunc. Aenean commodo ligu sodales parturient montes.</p>
                    <div class="vc_empty_space"   style="height: 1px" ><span class="vc_empty_space_inner"></span></div>
                 </div>
              </div>
              <div id="text-5" class="widget mkdf-footer-column-1 widget_text">
                 <div class="textwidget">
                    <div>
                       <div class="mkdf-icon-list-holder " >
                          <div class="mkdf-il-icon-holder">
                             <span class="mkdf-icon-font-elegant icon_clock_alt " style="color: #f1b847;font-size: 18px"></span>	
                          </div>
                          <p class="mkdf-il-text" style="color: #b5b5b5;font-size: 15px;padding-left: 28px">Mon - Sat 8.00 - 18.00. </p>
                       </div>
                       <div class="mkdf-icon-list-holder " >
                          <div class="mkdf-il-icon-holder">
                             <span class="mkdf-icon-font-elegant icon_clock_alt " style="color: #f1b847;font-size: 18px"></span>	
                          </div>
                          <p class="mkdf-il-text" style="color: #b5b5b5;font-size: 15px;padding-left: 28px">Sunday closed</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="mkdf-column-content mkdf-grid-col-3">
              <div id="nav_menu-2" class="widget mkdf-footer-column-2 widget_nav_menu">
                 <div class="mkdf-widget-title-holder">
                    <h5 class="mkdf-widget-title">Useful links</h5>
                 </div>
                 <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="menu">
                       <li id="menu-item-576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-576"><a href="#">Engaging, purposeful, and creative</a></li>
                       <li id="menu-item-577" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-577"><a href="#">Extroadinary life events.</a></li>
                       <li id="menu-item-578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-578"><a href="#">Design your perfect event.</a></li>
                       <li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-579"><a href="#">Connect your worlds</a></li>
                       <li id="menu-item-580" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-580"><a href="#">Improving workplace productivity.</a></li>
                       <li id="menu-item-581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-581"><a href="#">Leading organizations</a></li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="mkdf-column-content mkdf-grid-col-3">
              <div class="widget mkdf-recent-post-widget">
                 <div class="mkdf-widget-title-holder">
                    <h5 class="mkdf-widget-title">Latest posts</h5>
                 </div>
                 <ul class="mkdf-recent-posts">
                    <li class="mkdf-rp-item">
                       <a href="the-road-to-success-is-always-under-construction/index.html">
                          <div class="mkdf-rp-image"><img width="300" height="183" src="wp-content/uploads/2018/03/blog-post-12-300x183.jpg" class="attachment-medium size-medium wp-post-image" alt="n" srcset="http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-12-300x183.jpg 300w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-12-768x470.jpg 768w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-12-1024x626.jpg 1024w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-12.jpg 1300w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-12-650x398.jpg 650w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-12-500x306.jpg 500w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                          <div class="mkdf-recent-posts-info">
                             <h6 class="mkdf-rp-title">The Road To Success Is Always Under Construction.</h6>
                             <span class="mkdf-rp-date">April 11, 2018</span>
                          </div>
                       </a>
                    </li>
                    <li class="mkdf-rp-item">
                       <a href="today-may-be-just-like-any-other-day-but-its-yours/index.html">
                          <div class="mkdf-rp-image"><img width="300" height="183" src="wp-content/uploads/2018/03/blog-post-11-300x183.jpg" class="attachment-medium size-medium wp-post-image" alt="n" srcset="http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-11-300x183.jpg 300w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-11-768x470.jpg 768w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-11-1024x626.jpg 1024w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-11.jpg 1300w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-11-650x398.jpg 650w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-11-500x306.jpg 500w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                          <div class="mkdf-recent-posts-info">
                             <h6 class="mkdf-rp-title">Today May Be Just Like Any Other Day, But It’s Yours!</h6>
                             <span class="mkdf-rp-date">April 11, 2018</span>
                          </div>
                       </a>
                    </li>
                    <li class="mkdf-rp-item">
                       <a href="dressage-horses-and-all-things-equestrian/index.html">
                          <div class="mkdf-rp-image"><img width="300" height="183" src="wp-content/uploads/2018/03/blog-post-10-300x183.jpg" class="attachment-medium size-medium wp-post-image" alt="n" srcset="http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-10-300x183.jpg 300w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-10-768x470.jpg 768w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-10-1024x626.jpg 1024w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-10.jpg 1300w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-10-650x398.jpg 650w, http://equine.mikado-themes.com/wp-content/uploads/2018/03/blog-post-10-500x306.jpg 500w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                          <div class="mkdf-recent-posts-info">
                             <h6 class="mkdf-rp-title">Dressage, Horses And All Things Equestrian.</h6>
                             <span class="mkdf-rp-date">April 11, 2018</span>
                          </div>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <div class="mkdf-column-content mkdf-grid-col-3">
              <div id="media_image-2" class="widget mkdf-footer-column-4 widget_media_image">
                 <div class="mkdf-widget-title-holder">
                    <h5 class="mkdf-widget-title">Our Location</h5>
                 </div>
                 <a ><img width="300" height="170" src="assets/imgs/uploads/2018/04/footer-map-300x170.jpg" class="image wp-image-810  attachment-medium size-medium" alt="d" style="max-width: 100%; height: auto;" /></a>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="mkdf-footer-bottom-holder">
     <div class="mkdf-footer-bottom-inner mkdf-full-width">
        <div class="mkdf-grid-row ">
           <div class="mkdf-grid-col-4">
              <div id="media_image-3" class="widget mkdf-footer-bottom-column-1 widget_media_image"><a href="index.html"><img width="106" height="27" src="wp-content/uploads/2018/04/footer-logo-light-img.png" class="image wp-image-1374  attachment-full size-full" alt="b" style="max-width: 100%; height: auto;" /></a></div>
           </div>
           <div class="mkdf-grid-col-4">
              <div id="text-4" class="widget mkdf-footer-bottom-column-2 widget_text">
                 <div class="textwidget">
                    <p>© Copyright NG Trading</p>
                 </div>
              </div>
           </div>
           <div class="mkdf-grid-col-4">
              <div id="custom_html-2" class="widget_text widget mkdf-footer-bottom-column-3 widget_custom_html">
                 <div class="textwidget custom-html-widget"><span style="display: inline-block; vertical-align: middle; font-family: 'Lora', serif; letter-spacing: -.05em; text-transform: uppercase;">FOLLOW US</span>
                    <span class="widget mkdf-social-icons-group-widget text-align-left" style="display: inline-block; margin-left: 30px;">
                    <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#f1b847" style="color: #ffffff; margin: 0 15px 0 0;" href="https://twitter.com/MikadoThemes?lang=en" target="_blank">
                    <span class="mkdf-social-icon-widget social_twitter"></span>
                    </a>
                    <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#f1b847" style="color: #ffffff; margin: 0 15px 0 0;" href="https://www.facebook.com/Mikado-Themes-884182241781117" target="_blank">
                    <span class="mkdf-social-icon-widget social_facebook"></span>    
                    </a>
                    <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#f1b847" style="color: rgb(255, 255, 255); margin: 0" href="https://www.youtube.com/" target="_blank">
                    <span class="mkdf-social-icon-widget social_youtube"></span>    
                    </a>
                    </span>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>